/*Global*/
.navbar {
	display: flex;
	background-color: lightblue;
	height: 5vh;
	padding: 0px;
	margin: 0px;
	width: 100%;
	align-items: center;
}
.navbarElement {
	margin: 5px;
}

body {
	margin: 0px;
}
a {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	color: black;
	text-decoration: none;
}

h1 {
	text-decoration: underline;
	margin-top: 0;
	text-align: center;
}
  
  a:visited {
	color: black;
  }

.sidebar {
	width: 100%;
	background-color: #d32424;
	min-height: 100%;
}


/*Home Page*/
.homeLayoutContainer {
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
}


.homeTwoObjectContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: blue;
	height: 45vh;
}

.homeUpcomingContainer {
	background-color: green;
}

.homeUpcomingContainer a {
	width: 100%;
}


.card {
	display: grid;
	place-items: center;
	height: 45vh;
	width: 100%;
}

.card img {
	align-items: center;
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	margin: 0px;
}

.card p {
	white-space: nowrap; 
	align-self: start;
}

.card h1{
	white-space: nowrap; 
}



.article {
	background-color: pink;
}




/*Rotation*/
.homeRotationContainer {
	height: 25vh;
	background-color: aqua;
	display: flex;
	flex-direction: column;
}


.rotation {
	background-color: aqua;
	display: flex;
	align-items: center;


}

.rotation a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.rotation img {
	width: 25%;
	object-fit: contain;
}


* {
	background-color: lightgrey !important;
}
/*
.upcomingLink {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-height: 50%;
}









/*Results Page*/
/*
.galleryContainer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background-color: lightblue;
	min-height: 100vh;
}
.galleryCard {
	display: flex;
	height: 30vh;
	justify-content: center;
	align-items: center;
	border: 10px solid;
	border-color: red;
}
.galleryCardImg {
	width: 90%;
}
