.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding: 20px;
}
.calculator,
.results,
.maxDamage {
	border: 1px solid #ccc;
	padding: 16px;
	background-color: #f9f9f9;
}

.bossContainer {
	display: grid;
	grid-template-rows: auto auto;
	justify-items: center;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	padding: 16px;
}

label {
	text-align: right;
}

input[type="number"] {
	width: 100%;
	margin-bottom: 10px;
}

#bossImg {
	height: 10em;
	width: auto;
	object-fit: contain;
	display: block;
}

.tempResult {
	width: 25%;
	outline: 2px solid black;
}
